**/myshowstore/myshowstorecore/classes/*
**/myshowstore/myshowstorecore/gensrc/*
*.class
/myshowstorecore/classes/com/sonata/trining/core/constants/*.class
/myshowstorecore/classes
**/addonsrc/*
**/gensrc/*
**/myshowstore/jalo/*
/myshowstorecore/src/com/sonata/trining/core/jalo/ShoeColorVariantProduct.java
/myshowstorecore/src/com/sonata/trining/core/jalo/ShoeSizeVariantProduct.java
/myshowstorecore/gensrc/com/sonata/trining/core/jalo/GeneratedApparelStyleVariantProduct.java
/myshowstorecore/gensrc/com/sonata/trining/core/jalo/GeneratedApparelProduct.java
/myshowstorecore/gensrc/com/sonata/trining/core/jalo/GeneratedApparelSizeVariantProduct.java
/myshowstorecore/gensrc/com/sonata/trining/core/jalo/GeneratedElectronicsColorVariantProduct.java
/myshowstorecore/gensrc/com/sonata/trining/core/jalo/GeneratedMyshowstoreCoreManager.java
/myshowstorecore/gensrc/myshowstorecore/GeneratedTypeInitializer.java
/myshowstorestorefront/web/webroot/_ui/addons/*
